.navbar .nav-link .fa-bars {
    color: #212529 !important;
    opacity: 1 !important;
}
.navbar .nav-link .fa-bell {
    color: #212529 !important;
    opacity: 1 !important;
}
.navbar .nav-link .fa-user {
    color: #212529 !important;
   
    opacity: 1 !important;
}
